@media(max-width: 1800px) {
    .logo-block .logo-text h1 {
        font-size: 60px;
    }
    .logo-block .logo-text h1 span {
        font-size: 60px;
    }
    .logo-vector-img .vector4 {
        left: -300px;
    }
    .service-block .service-vector img {
        top: -250px;
    }
}
@media(max-width: 1665px) {
    .logo-text .container-block {
        padding-left: 20px;
        padding-right: 20px;
    }
}
@media(max-width: 1500px) {
    .logo-block .logo-text h1 {
        font-size: 50px;
    }
    .logo-block .logo-text h1 span {
        font-size: 50px;
    }
    .logo-text .logo-bt a {
        margin-right: 10px;
    }
}
@media(max-width: 1420px) {
    .service-block .service-vector img {
        top: 200px;
    }
}
@media(max-width: 1420px) {
    .logo-bt a {
        margin-bottom: 10px;
    }
    .logo-vector-img .vector-img1 {
        margin-left: 200px;
    }
    .logo-vector .logo-vector-block-1 a {
        padding-right: 20px;
    }
}
@media(max-width: 1400px) {
    .logo-block .logo-text h1 {
        font-size: 40px;
    }
    .logo-block .logo-text h1 span {
        font-size: 40px;
    }
}
@media(max-width: 1350px) {
    .logo-text .logo-text-1 {
        margin-top: 25px;
    }
    .logo-text .logo-text-1 a {
        font-size: 20px;
    }
    .logo-text .logo-text-1 span {
        font-size: 20px;
    }
    .logo-vector-img .vector-img1 {
        margin-left: 100px;
    }
    .logo-vector-img .vector4 {
        left: -400px;
    }
    .logo-vector-img .vector3 {
        width: 450px;
    }
}
@media(max-width: 1250px) {
    .vector1 {
        width: 600px;
        height: 500px;
    }
    .vector2 {
        width: 350px;
        height: 250px;
    }
}
@media(max-width: 1200px) {
    .logo-vector-img {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .logo-vector-img  .vector-img2 {
        margin-left: 10px;
        margin-right: 10px;
    }
    .logo-vector-img  .vector-img1 {
        margin-left: 10px;
        margin-right: 10px;
    }
    .logo-vector-img .vector5 {
        right: 350px;
    }
    .logo-vector-img .vector1 {
        top: 348px;
        right: 0;
    }
    .logo-vector-img .vector4 {
        left: -250px;
        bottom: -300px;
        width: 500px;
    }
    .logo-vector-img  .vector3 {
        width: 350px;
        top: 1200px;
    }
    .logo-vector .logo-vector-block-1 li {
        margin: 10px;
    }
    .logo-vector-block-1 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .wrapper .logo-vector {
        padding-top: 10px;
        padding-bottom: 100px;
    }
    .logo-vector .logo-vector-img {
        margin-top: 50px;
    }
}
@media(max-width: 950px) {
    .logo-block .logo-text h1 {
        font-size: 30px;
    }
    .logo-block .logo-text h1 span {
        font-size: 30px;
    }
    .logo-vector-img  .vector3 {
        width: 300px;
        top: 1200px;
    }
    .reviews .reviews-vector img {
        bottom: 500px;
    }
}
@media(max-width: 775px) {
    .logo-block {
        display: flex;
        flex-direction: column;
    }
    .logo-block .logo-text h1 {
        font-size: 50px;
    }
    .logo-block .logo-text h1 span {
        font-size: 50px;
    }
    .logo-vector-img .vector4 {
        left: -100px;
    }
    .logo-vector-img .vector1 {
        right: 50px;
    }
    .portfolio-block-2-about {
        display: flex;
        flex-direction: column;
    }
    .portfolio-text {
        margin-bottom: 50px;
    }
}
@media(max-width: 775px) {
    .logo-vector-img .vector1 {
        right: 50px;
        width: 500px;
        height: 500px;
    }
    .service-block .service-vector img {
        top: 700px;
    }
}
@media(max-width: 525px) {
    .logo-vector-img .vector1 {
        right: 0;
    }
    .logo-vector-img .vector4 {
        left: -300px;
    }
}
@media(max-width: 420px) {
    .portfolio-img img {
            width: 300px;
    }
    .portfolio-img {
        text-align: center;
    }
    .portfolio-block-2-about .portfolio-text a {
        padding: 20px 20px;
    }
}
@media(max-width: 400px) {
    .logo-text-block1 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .logo-text .logo-text-1 a {
        font-size: 25px;
    }
    .logo-text .logo-text-1 span {
        font-size: 25px;
    }
    .logo-text-block1 img {
        display: none;
    }
    .menu {
        padding: 0;
        margin: 0;
        margin-top: 10px;
    }
    .logo-bt {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .container-block .logo-text-3 {
        padding-top: 80px;
        padding-bottom: 20px;
    }
    .container-block .logo-text-4 {
        padding-top: 200px;
        padding-bottom: 20px;
    }
    .container-block .logo-social {
        margin-top: 50px;
    }
    .logo-block .logo-text h1 {
        font-size: 50px;
        padding-right: 5px;
        margin: 0 auto;
    }
    .logo-block .logo-text h1 span {
        font-size: 50px;
        padding: 5px;
        margin: 0 auto;
    }
    .vector2 {
        width: 250px;
        height: 150px;
    }
    .logo-vector-img .vector5 {
        right: 250px;
    }
    .vector-img1 img {
        width: 300px;
    }
    .vector-img2 img {
        width: 300px;
    }
    .logo-vector-img  .vector3 {
        width: 210px;
        top: 1200px;
    }
    .service-block .service-vector img {
        display: none;
    }
    .service-block-about .service-block1 {
        padding-right: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px 10px;
    }
    .service-img {
        margin: 0 50px;
    }
    .service-container .service-text-about {
        padding-top: 50px;
    }
    .service-container .service-block-about {
        padding-bottom: 50px;
    }
    .reviews .reviews-vector img {
        display: none;
    }
    .reviews-block1 {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .reviews-block1 .reviews-block1-text p {
        padding: 0;
    }
    .reviews-block1 .reviews-block1-text h3 {
        margin: 0;
    }
    .wrapper .reviews {
        padding-bottom: 50px;
    }
}