*,
*::before,
*::after {
    box-sizing: border-box;
}
@font-face {
    font-family: 'Sofia Pro';
    src: url('../fonts/SofiaProBlack.woff2') format('woff2'),
         url('../fonts/SofiaProBlack.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Sofia Pro';
    src: url('../fonts/SofiaProBold.woff2') format('woff2'),
         url('../fonts/SofiaProBold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Sofia Pro';
    src: url('../fonts/SofiaProSemiBold.woff2') format('woff2'),
         url('../fonts/SofiaProSemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Sofia Pro';
    src: url('../fonts/SofiaProRegular.woff2') format('woff2'),
         url('../fonts/SofiaProRegular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Sofia Pro';
    src: url('../fonts/SofiaProExtraLight.woff2') format('woff2'),
         url('../fonts/SofiaProExtraLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
body {
    font-family: 'Roboto', sans-serif;
}
:root {
    --white: #fff;
    --black: #191919;
    --blackLigh: #393939;
    --blackLigh2: #1C1C1C;
    --blue: #7614FD;
    --grey: #5E5E5E;
    --greyDak: #4A4A4A;
    --greyDakBlack: #3F3F3F;
}
.wrapper {
    max-width: 1920px;
    margin: 0 auto;
}
.menu {
    display: flex;
}
.menu li {
    width: 80px;
    border-radius: 20px;
    border: 1px solid #999999;
    background: #222222;
    list-style: none;
    position: relative;
}
.menu a {
    color: var(--white);
    font-family: 'Sofia Pro';
    font-weight: 600;
    font-size: 12px;
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 0 10px;
    height: 40px;
    line-height: 40px;
    transition: all .5s;
}
.menu ul {
    position: absolute;
    left: 0;
    top: 100%;
    display: none;
    padding: 0;
}
.menu li:hover ul{
    display: block;
}
.menu a:hover {
    color: var(--blue);
}
.menu img {
    padding: 0 5px;
}
.menu img:hover {
    transform: rotate(180deg);
}
.logo-block {
    display: flex;
    justify-content: space-between;
    z-index: 1;
}
.logo-text {
    width: 100%;
    max-width: 756px;
    padding-top: 105px;
    padding-bottom: 85px;
    background: var(--black);
    z-index: 2;
}
.container-block {
    padding-left: 177px;
    padding-right: 60px;
}
.logo-text-block1 {
    display: flex;
    justify-content: space-around;
}
.logo-text-1 a {
    font-family: 'Sofia Pro';
    font-weight: 600;
    font-size: 29px;
    color: var(--white);
    text-decoration: none;
    outline: none;
}
.logo-text-1 span {
    font-family: 'Sofia Pro';
    font-weight: 600;
    font-size: 29px;
    color: var(--blue);
}
.logo-text-2 {
    font-family: 'Sofia Pro';
    font-weight: 300;
    font-size: 18px;
    color: var(--greyDakBlack);
    text-align: center;
    padding-top: 10px;
}
.logo-text-3 {
    font-family: 'Sofia Pro';
    font-weight: 400;
    font-size: 24px;
    color: var(--greyDak);
    padding-top: 215px;
    padding-bottom: 68px;
}
.logo-text h1 {
    font-family: 'Sofia Pro';
    font-weight: 700;
    font-size: 72px;
    color: var(--white);
    padding: 0;
    margin: 0;
    position: absolute;
    z-index: 10;
}
.logo-text h1 span {
    font-family: 'Sofia Pro';
    font-weight: 700;
    font-size: 72px;
    color: var(--blue);
    z-index: 10;
}
.logo-text-4 {
    font-family: 'Sofia Pro';
    font-weight: 300;
    font-size: 30px;
    color: var(--grey);
    padding-top: 150px;
    padding-bottom: 58px;
}
.logo-bt {
    display: flex;
    justify-content: start;
}
.logo-bt a {
    padding: 23px 52px;
    border-radius: 10px;
    background: var(--blue);
    text-decoration: none;
    color: var(--white);
    margin-right: 25px;
    font-size: 18px;
}
.logo-social {
    margin-top: 222px;
    display: flex;
}
.logo-social a {
    padding: 10px;
    margin: 10px;
    background: #222222;
    color: var(--white);
    border: 1px solid #3F3F3F;
    text-align: center;
}
.logo-vector {
    background: var(--black);
    width: 100%;
    padding-top: 105px;
    padding-bottom: 150px;
    position: relative;
    z-index: 1;
}
.logo-vector-block-1 {
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
    position: relative;
    padding: 0 10px;
    z-index: 9;
}
.logo-vector-block-1 a {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    color: var(--white);
    text-decoration: none;
    padding-right: 80px;
}
.logo-vector-block-1 li {
    list-style: none;
}
.logo-vector-block-1 a:hover {
    font-weight: 900;
}
.logo-vector-img {
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.vector-img1 {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    margin-left: 280px;
    z-index: 6;
}
.vector-img1 img {
    margin-bottom: 10px;
}
.vector-img2 {
    z-index: 6;
} 
.vector5 {
    position: absolute;
    top: -20px;
    right: 550px;
    z-index: 1;
}
.vector2 {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}
.vector4 {
    position: absolute;
    bottom: -325px;
    left: -160px;
    z-index: 1;
}
.vector3 {
    position: absolute;
    top: 875px;
    right: 0;
    z-index: 1;
}
.vector1 {
    position: absolute;
    top: 348px;
    right: 100px;
    z-index: 1;
}